<h1>Local Collection</h1>
<p>If you have a small to medium size collection of objects,
  load them all up with one ajax call. All the paging, sorting
  and search can be done on the client end in memory.</p>

<div class="user-table"></div>