<table>
  <thead>
  <tr>
    <th class="sortable sorted asc" data-sort-by="first_name" data-sort-direction="asc">First Name</th>
    <th class="sortable" data-sort-by="last_name">Last Name</th>
    <th class="sortable" data-sort-by="email">Email</th>
    <th class="sortable" data-sort-by="phone">Phone</th>
    <th class="sortable" data-sort-by="company">Company</th>
    <th class="sortable" data-sort-by="title">Title</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>